<div class='container'>
  <h1>Beers</h1>
  <div class='row'>
    {{#each allBeers}}
        {{> beerCard this}} 
      <!-- of een ander attribuut van elk biervoorbeeld -->
    {{/each}}
  </div>
</div>