<div>
  <img src='/images/beer.png' alt='beer' />
</div>
<div>
  <div>
    <a class='btn btn-light' href='beers' target='_self'>Check the Beers!</a>
    <a class='btn btn-light' href='random-beer' target='_self'>Check a Random
      Beer</a>
  </div>
</div>